<div class="row">

    <div id="filter-btn" class="col-1 btn-group dropend">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Filter
        </button>
        <div class="dropdown-menu">
            <form class="m-3">
                {{ filter.form.as_div }}
                <div class="dropdown-divider my-2"></div>
                <div class="row d-flex justify-content-evenly">
                    <button type="submit" class="btn btn-primary col-4">Apply filters</button>
                    <a href="?" class="btn btn-danger col-4">Clear filters</a>
                </div>
            </form>
        </div>
    </div>

    <div class="col"></div>

    <span class="badge rounded-pill text-bg-secondary m-2 fs-6 col-1"> {{ object_list | length }} items </span>

</div>