{% extends "conformity/main.html" %}

{% block header %}
<h1 class="h2 bi bi-house-door"> Welcome {{request.user.first_name}} !</h1>
{% endblock %}

{% block content %}
<div class="row d-flex justify-content-evenly">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-start">
                <h5 class="my-0"><i class="bi bi-card-checklist"></i> Policy</h5>
                <a class="btn btn-outline-dark btn-sm"
                   href="{%url 'conformity:policy_index'%}">{{policy_list|length}} policies</a>
            </div>
            <ul class="list-group list-group-flush">
                {% for policy in policy_list %}
                    <a class="list-group-item list-group-item-action"
                       href="{%url 'conformity:policy_detail' policy.id %}"> {{policy}}</a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-start">
                <h5 class="my-0"><i class="bi bi-building"></i> Organization</h5>
                <a class="btn btn-outline-dark btn-sm"
                    href="{%url 'conformity:organization_index'%}" >{{organization_list|length}} organizations</a>
            </div>
            <ul class="list-group list-group-flush">
                {% for organization in organization_list %}
                    <a class="list-group-item list-group-item-action"
                       href="{%url 'conformity:organization_form' organization.id %}"> {{organization}}</a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-start">
                <h5 class="my-0"><i class="bi bi-shield-shaded"></i> Conformity</h5>
                <a class="btn btn-outline-dark btn-sm"
                   href="{%url 'conformity:conformity_index'%}">{{conformity_list|length}} conformities</a>
            </div>
            <ul class="list-group list-group-flush">
                {% for conformity in conformity_list %}
                    <a class="list-group-item list-group-item-action"
                       href="{%url 'conformity:conformity_orgpol_index'
                       conformity.organization.id conformity.measure.policy.id %}"> {{conformity}}</a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-start">
                <h5 class="my-0"><i class="bi bi-ui-checks-grid"></i> Audit</h5>
                <a class="btn btn-outline-dark btn-sm"
                   href="{%url 'conformity:audit_index'%}" >{{audit_list|length}} audits</a>
            </div>
            <ul class="list-group list-group-flush">
                {% for audit in audit_list %}
                    <a class="list-group-item list-group-item-action"
                       href="{%url 'conformity:audit_detail' audit.id %}"> {{audit}}</a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
