html, body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.animated {
    animation-duration: 2.2s;
    animation-fill-mode: both;
}

@keyframes fadeIn1 {
    0% {opacity: 0;}
    33% {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes fadeIn2 {
    0% {opacity: 0;}
    33% {opacity: 0;}
    66% {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes fadeIn3 {
    0% {opacity: 0;}
    66% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn1 {
    animation-name: fadeIn1;
}
.fadeIn2 {
    animation-name: fadeIn2;
}
.fadeIn3 {
    animation-name: fadeIn3;
}