{% extends "conformity/main.html" %}

{% block header %}
    <h1 class="h1 bi bi-arrow-repeat"> Actions </h1>
    <span class="badge rounded-pill text-bg-primary fs-4"> {{ object_list | length }} Actions</span>
{% endblock %}

{% block content %}
<table class="table table-striped align-middle">
  <caption class="d-none">List of all actions</caption>
    <thead>
        <tr>
            <th class="">Titre</th>
            <th class="">Owner</th>
            <th class="">Status</th>
            <th class="">Last Update</th>
            <th class="text-center">Association</th>
            <th class="text-center">Edit</th>
        </tr>
    </thead>
    <tbody>
    {% for action in object_list %}
        <tr>
            <td class="col">
                {{ action.title }}
            </td>
            <td class="col">
                {{ action.owner | default_if_none:"" }}
            </td>
            <td class="col">
                {% if action.status == "1" %}
                    <i class="bi bi-hexagon-fill text-info"></i>
                {% endif %}
                {% if action.status == "2" %}
                    <i class="bi bi-hexagon-fill text-primary"></i>
                {% endif %}
                {% if action.status == "3" %}
                    <i class="bi bi-hexagon-fill text-warning"></i>
                {% endif %}
                {% if action.status == "4" %}
                    <i class="bi bi-hexagon-fill text-success"></i>
                {% endif %}
                {% if action.status == "5" %}
                    <i class="bi bi-hexagon-fill"></i>
                {% endif %}
                {% if action.status == "7" %}
                    <i class="bi bi-hexagon text-danger"></i>
                {% endif %}
                {% if action.status == "9" %}
                    <i class="bi bi-hexagon-fill text-danger"></i>
                {% endif %}
                {{ action.get_status_display }}
            </td>
            <td class="col">
                {{ action.update_date | date:'d-M-Y'}}
            </td>
            <td class="text-center">
                {% if action.get_associated %}
                <button type="button" class="btn btn-outline-primary btn-sm">
                    {{ action.get_associated | length }} Associated actions
                </button>
                {% endif %}
            </td>
            <td class="text-center">
                <div class="btn-group" role="group" aria-label="Action">
                    <a href="{% url 'conformity:action_form' action.id %}"
                       class="btn btn-sm btn-warning bi bi-pencil-square" title="Edit"></a>
                    <a href="{{ action.reference }}"
                       class="btn btn-sm btn-secondary bi bi-box-arrow-up-right" title="ITSM Reference link"></a>
                </div>
            </td>
        </tr>
    {% empty %}
        <div class="alert alert-info" role="alert">
            No action recorded.
        </div>
        <tr><td colspan="6">No data to display</td></tr>
    {% endfor %}
        <tr><td colspan="6" class="text-center">
            <br />
            <a href="{% url 'conformity:action_create' %}"
               class="btn btn-sm btn-primary bi bi-pencil-square">
                    Register a new action</button>
            </a>
        </td></tr>
</table>
{% endblock %}
