{% extends "conformity/main.html" %}

{% block header %}
    <h1 class="h1 bi bi-arrow-repeat"> Actions </h1>
{% endblock %}

{% block content %}
<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th class="">Titre</th>
            <th class="">Organization</th>
            <th class="">Owner</th>
            <th class="">Status</th>
            <th class="">Last Update</th>
            <th class="text-center">Edit</th>
        </tr>
    </thead>
    <tbody>
    {% for action in action_list %}
        <tr>
            <td class="col">
                {{ action.title }}
            </td>
            <td class="col">
                {{ action.organization }}
            </td>
            <td class="col">
                {{ action.owner }}
            </td>
            <td class="col">
                {{ action.get_status_display }}
            </td>
            <td class="col">
                {{ action.update_date }}
            </td>
            <td class="text-center">
                <a href="{% url 'conformity:action_form' action.id %}" class="bi bi-pencil-square"></a>
            </td>
        </tr>
    {% empty %}
        <div class="alert alert-info" role="alert">
            No action recorded.
        </div>
        <tr><td colspan="7">No data to display</td></tr>
    {% endfor %}
        <tr><td colspan="7" class="text-center">
            <br />
            <a href="{% url 'conformity:action_create' %}">
                <button type="button" class="btn btn-success bi bi-plus-circle"> Register a new action</button>
            </a>
        </td></tr>
</table>
{% endblock %}
