{% extends "conformity/main.html" %}

{% block header %}
    <h1 class="h1 bi bi-arrow-repeat"> Actions </h1>
{% endblock %}

{% block content %}

<div class="row">

    <div id="filter-btn" class="col-1 btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Filter
        </button>
        <div class="dropdown-menu">
            <form class="m-3">
                {{ filter.form.as_div }}
                <div class="dropdown-divider my-2"></div>
                <div class="row d-flex justify-content-evenly">
                    <button type="submit" class="btn btn-primary col-4">Apply filters</button>
                    <a href="?" class="btn btn-danger col-4">Clear filters</a>
                </div>
            </form>
        </div>
    </div>

    <div class="col-1 btn-group">
        <a type="button" class="btn btn-secondary"
           href="{% url 'conformity:action_export' %}">
             Export</a>
        <a type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
        </a>
        <ul class="dropdown-menu" style="z-index:1500">
            <li><a class="dropdown-item" href="{% url 'conformity:action_export' %}?format=csv">CSV Format</a></li>
            <li><a class="dropdown-item" href="{% url 'conformity:action_export' %}?format=xlsx">XLSX Format</a></li>
        </ul>
    </div>

    <div class="col"></div>

    <span class="badge rounded-pill text-bg-secondary m-2 fs-6 col-1"> {{ object_list | length }} items </span>

</div>

<table class="table table-striped align-middle">
  <caption class="d-none">List of all actions</caption>
    <thead>
        <tr>
            <th class="">Titre</th>
            <th class="">Owner</th>
            <th class="">Status</th>
            <th class="">Last Update</th>
            <th class="text-center">Association</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for action in object_list %}
        <tr>
            <td class="col">
                {{ action.title }}
            </td>
            <td class="col">
                {{ action.owner | default_if_none:"" }}
            </td>
            <td class="col">
                {% if action.status == "1" %}
                    <i class="bi bi-hexagon-fill text-info"></i>
                {% endif %}
                {% if action.status == "2" %}
                    <i class="bi bi-hexagon-fill text-primary"></i>
                {% endif %}
                {% if action.status == "3" %}
                    <i class="bi bi-hexagon-fill text-warning"></i>
                {% endif %}
                {% if action.status == "4" %}
                    <i class="bi bi-hexagon-fill text-success"></i>
                {% endif %}
                {% if action.status == "5" %}
                    <i class="bi bi-hexagon-fill"></i>
                {% endif %}
                {% if action.status == "7" %}
                    <i class="bi bi-hexagon text-danger"></i>
                {% endif %}
                {% if action.status == "9" %}
                    <i class="bi bi-hexagon-fill text-danger"></i>
                {% endif %}
                {{ action.get_status_display }}
            </td>
            <td class="col">
                {{ action.update_date | date:'d-M-Y'}}
            </td>
            <td class="text-center">
                {% if action.get_associated %}
                <button type="button" class="btn btn-outline-primary btn-sm">
                    {{ action.get_associated | length }} Associated actions
                </button>
                {% endif %}
            </td>
            <td class="text-center">
                <div class="btn-group">
                    <a href="{% url 'conformity:action_form' action.id %}"
                       class="btn btn-sm btn-warning bi bi-pencil-square" title="Edit">
                        <span class="visually-hidden">Edit action</span>
                    </a>
                    <a href="{{ action.reference }}"
                       class="btn btn-sm btn-secondary bi bi-box-arrow-up-right" title="ITSM Reference link">
                        <span class="visually-hidden">Open ITSM reference</span>
                    </a>
                </div>
            </td>
        </tr>
    {% empty %}
        <div class="alert alert-info" role="alert">
            No action recorded.
        </div>
        <tr><td colspan="6">No data to display</td></tr>
    {% endfor %}
        <tr><td colspan="6" class="text-center">
            <br />
            <a href="{% url 'conformity:action_create' %}"
               class="btn btn-sm btn-primary bi bi-pencil-square">
                    Register a new action</button>
            </a>
        </td></tr>
</table>
{% endblock %}
