{% extends "conformity/main.html" %}
{% load django_bootstrap5 %}

{% block header %}
<h1 class="h1 bi bi-pencil-square" xmlns="http://www.w3.org/1999/html"> Edit of an action record</h1>
{% endblock %}

{% block content %}
    <form class="form" method="post" action="" style="table-radius:1em">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col col-6">
                {% bootstrap_field form.title %}
                {% bootstrap_field form.organization %}
                {% bootstrap_field form.owner %}
                {% bootstrap_field form.status %}
                {% bootstrap_field form.create_date %}
                {% bootstrap_field form.update_date %}
                <div class="accordion" id="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingAnalyse">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseAnalyse" aria-expanded="false" aria-controls="collapseAnalyse">
                                Analyse
                            </button>
                        </h2>
                        <div id="collapseAnalyse" class="accordion-collapse collapse" aria-labelledby="headingAnalyse"
                             data-bs-parent="#accordion">
                            <div class="accordion-body">
                                {% bootstrap_field form.description %}
                                {% bootstrap_field form.associated_conformity %}
                                {% bootstrap_field form.associated_findings %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingPlan">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapsePlan" aria-expanded="false" aria-controls="collapsePlan">
                                Plan
                            </button>
                        </h2>
                        <div id="collapsePlan" class="accordion-collapse collapse" aria-labelledby="headingPlan"
                             data-bs-parent="#accordion">
                            <div class="accordion-body">
                                {% bootstrap_field form.plan_start_date %}
                                {% bootstrap_field form.plan_end_date %}
                                {% bootstrap_field form.plan_comment %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Implement
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                             data-bs-parent="#accordion">
                            <div class="accordion-body">
                                {% bootstrap_field form.implement_start_date %}
                                {% bootstrap_field form.implement_end_date %}
                                {% bootstrap_field form.implement_status %}
                                {% bootstrap_field form.implement_comment %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingControl">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseControl" aria-expanded="false" aria-controls="collapseControl">
                                Control
                            </button>
                        </h2>
                        <div id="collapseControl" class="accordion-collapse collapse" aria-labelledby="headingControl"
                             data-bs-parent="#accordion">
                            <div class="accordion-body">
                                {% bootstrap_field form.control_date %}
                                {% bootstrap_field form.control_comment %}
                                {% bootstrap_field form.control_user %}
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                {% bootstrap_button button_type="submit" content="Save" %}
            </div>
        </div>
        <script>
            // Dirty fix for Date form
            // https://github.com/zostera/django-bootstrap5/issues/445
            // TODO: contribute upstream to django-bootstrap
            document.getElementById('id_control_date').type = 'Date'
            document.getElementById('id_implement_start_date').type = 'Date'
            document.getElementById('id_implement_end_date').type = 'Date'
            document.getElementById('id_plan_start_date').type = 'Date'
            document.getElementById('id_plan_end_date').type = 'Date'
            document.getElementById('id_create_date').type = 'Date'
            document.getElementById('id_update_date').type = 'Date'
        </script>
    </form>
{% endblock %}
