{% extends "conformity/main.html" %}

{% block header %}
    <h1 class="h1 bi bi-paperclip"> Attachment library</h1>
    <span class="badge rounded-pill text-bg-primary fs-4"> {{ object_list | length }} Attachments</span>
{% endblock %}

{% block content %}
    <table class="table table-striped align-middle">
    <caption class="d-none">Attachment library</caption>
    <thead>
        <tr>
            <th scope="col" class="col-4">Attachment</th>
            <th scope="col" class="col-2 text-center">MIME type</th>
            <th scope="col" class="col-2 text-center">Creation date</th>
            <th scope="col" class="col-4 text-center">References</th>
        </tr>
    </thead>
    <tbody>
        {% for attachment in attachment_list %}
            <tr>
                <td>
                    <span>
                        <i class="bi bi-file-earmark"></i>
                        <a href="{% url 'conformity:attachment_download' attachment.id %}"
                            title="{{ attachment }}">
                            {{ attachment | truncatechars:50 }}
                        </a>
                    </span>
                </td>
                <td class="text-center">
                    {{ attachment.mime_type }}
                </td>
                <td class="text-center">
                    {{ attachment.create_date }}
                </td>
                <td class="">
                    {% for org in attachment.organizations.all %}
                    <a href="{% url 'conformity:organization_detail' org.id %}"><span class="badge mx-2 text-bg-dark px-3"> <i class="bi bi-building pe-2"></i> {{ org }} </span></a>
                    {% endfor %}
                    {% for framework in attachment.frameworks.all %}
                    <a href="{% url 'conformity:framework_detail' framework.id %}#attachments"><span class="badge mx-2 text-bg-primary px-3"> <i class="bi bi-card-checklist pe-2"></i> {{ framework }} </span></a>
                    {% endfor %}
                    {% for cp in attachment.ControlPoint.all %}
                    <a href="{% url 'conformity:controlpoint_form' cp.id %}"><span class="badge mx-2 text-bg-secondary px-3"> <i class="bi bi-clipboard2-check pe-2"></i> {{ cp }} </span></a>
                    {% endfor %}
                    {% for audit in attachment.audits.all %}
                    <a href="{% url 'conformity:audit_detail' audit.id %}"><span class="badge mx-2 text-bg-success px-3"> <i class="bi bi-ui-checks-grid pe-2"></i> {{ audit }} </span></a>
                    {% endfor %}
                </td>
            </tr>
        {% empty %}
            <div class="alert alert-info" role="alert">
                No attachment in the library.
            </div>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}