{% extends "conformity/main.html" %}
{% load django_bootstrap5 %}

{% block header %}
<h1 class="h1 bi bi-pencil-square" xmlns="http://www.w3.org/1999/html"> Edit of an audit record</h1>
{% endblock %}

{% block content %}
    <form class="form" method="post" action="">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col col-6">
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content="Save" %}
            </div>
        </div>
        <script>
            // Dirty fix for Date form
            // https://github.com/zostera/django-bootstrap5/issues/445
            // TODO: contribute upstream to django-bootstrap
            document.getElementById('id_start_date').type = 'Date'
            document.getElementById('id_end_date').type = 'Date'
            document.getElementById('id_report_date').type = 'Date'
        </script>
    </form>
{% endblock %}
