{% extends "conformity/main.html" %}

{% block header %}
    <h1 class="h1 bi bi-ui-checks-grid"> Audits</h1>
    <span class="badge rounded-pill text-bg-primary fs-4"> {{ object_list | length }} Audits</span>
{% endblock %}

{% block content %}
<table class="table table-striped align-middle">
  <caption class="d-none">List of all Audits</caption>
    <thead>
        <tr>
            <th class="">Name</th>
            <th class="">Auditor</th>
            <th class="">Type</th>
            <th class="">Start</th>
            <th class="">End</th>
            <th class="text-center">Finding</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for audit in audit_list %}
        <tr>
            <td class="col-2">
                {{ audit.name }}
            </td>
            <td class="col-2">
                {{ audit.auditor }}
            </td>
            <td class="col-2">
                {{ audit.get_type }}
            </td>
            <td class="col-1">
                {{ audit.start_date }}
            </td>
            <td class="col-1">
                {{ audit.end_date }}
            </td>
            <td class="col-1 text-center">
                {{ audit.get_findings_number }}
            </td>
            <td class="col-1 text-center">
                <div class="btn-group" role="group" aria-label="Actions">
                    <a href="{% url 'conformity:audit_detail' audit.id %}"
                       class="btn btn-sm btn-primary bi bi-eye" title="Edit"></a>
                    <a href="{% url 'conformity:audit_form' audit.id %}"
                       class="btn btn-sm btn-warning bi bi-pencil-square" title="Edit"></a>
                </div>
            </td>
        </tr>
    {% empty %}
        <div class="alert alert-info" role="alert">
            No audit recorded.
        </div>
        <tr><td colspan="8">No data to display</td></tr>
    {% endfor %}
        <tr><td colspan="8" class="text-center">
            <br />
            <a href="{% url 'conformity:audit_create' %}">
                <button type="button" class="btn btn-success bi bi-plus-circle"> Register a new audit</button>
            </a>
        </td></tr>
</table>
{% endblock %}
