{% if con.requirement.is_parent and con.requirement.level < 3 %}
<tr class="table-{{style}}">
{% else %}
<tr class="">
{% endif %}

    {% if con.requirement.is_leaf_node %}
    <td class="">
        {% if con.requirement.level == 1 %}
            <a class="btn btn-sm btn-outline-secondary me-1 disabled" >{{ con.requirement.name }}</a>
        {% elif con.requirement.level == 2 %}
            <a class="btn btn-sm btn-outline-secondary me-1 ms-3 disabled" >{{ con.requirement.name }}</a>
        {% else %}
            <a class="btn btn-sm btn-outline-secondary me-1 ms-5 disabled" >{{ con.requirement.name }}</a>
        {% endif %}
        {{ con.requirement.title }}
    {% else %}
    <td class="">
        {% if con.requirement.level == 1 %}
            <a class="btn btn-sm btn-primary me-1" href="?root_id={{con.id}}">{{ con.requirement.name }}</a>
        {% elif con.requirement.level == 2 %}
            <a class="btn btn-sm btn-info me-1 ms-3" href="?root_id={{con.id}}">{{ con.requirement.name }}</a>
        {% else %}
            <a class="btn btn-sm btn-secondary me-1 ms-5" href="?root_id={{con.id}}">{{ con.requirement.name }}</a>
        {% endif %}
        <b>{{ con.requirement.title }}</b>
    {% endif %}
    </td>

    <td class="text-center">
        <div class="progress">
            {% if not con.applicable %}
                <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 100%"
                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-disabled="true" aria-label="Not applicable">Not applicable</div>
            {% else %}
                {% if con.status is Null %}
                    <div class="progress-bar bg-light text-black" role="progressbar" style="width: 100%"
                         aria-valuenow="{{ con.status }}" aria-valuemin="0" aria-valuemax="100"> Not Evaluated</div>
                {% elif con.status > 79 %}
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ con.status }}%; min-width:3em"
                         aria-valuenow="{{ con.status }}" aria-valuemin="0" aria-valuemax="100">{{ con.status }} %</div>
                {% elif con.status > 49 %}
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{ con.status }}%; min-width:3em"
                         aria-valuenow="{{ con.status }}" aria-valuemin="0" aria-valuemax="100">{{ con.status }} %</div>
                {% else %}
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ con.status }}%; min-width:3em"
                         aria-valuenow="{{ con.status }}" aria-valuemin="0" aria-valuemax="100">{{ con.status }} %</div>
                {% endif %}
            {% endif %}
        </div>
    </td>

    <td class="text-center">
        {% if con.applicable and con.responsible%}
            {{ con.responsible|capfirst }}
        {% endif %}
    </td>

    <td class="text-center">
        {% if con.get_control %}
            <a href="{% url 'conformity:control_index' %}?conformity={{con.id}}">
                <button type="button" class="btn btn-outline-primary"
                    title="{% for c in con.get_control %}{{ c.title }}{% if not forloop.last %}&#10;{% endif %}{% endfor %}">
                    {{ con.get_control | length }} controls
                </button>
            </a>
        {% endif %}
    </td>

    <td class="text-center">
        {% if con.get_action %}
            <a href="{% url 'conformity:action_index' %}?associated_conformity={{con.id}}">
                <button type="button" class="btn btn-outline-primary"
                    title="{% for a in con.get_action %}{{ a.title }}{% if not forloop.last %}&#10;{% endif %}{% endfor %}">
                    {{ con.get_action | length }} actions
                </button>
            </a>
        {% endif %}
    </td>

    <td class="text-center">
        {% if con.comment %}
            <i class="bi bi-chat-text" title="{{ con.comment }}"></i>
        {% endif %}
    </td>

    <td class="text-center">
        <div class="btn-group" role="group" aria-label="Action">
            <a href="{% url 'conformity:conformity_form' con.id %}"
               class="btn btn-warning bi bi-pencil-square"> </a>
        </div>
    </td>
</tr>

{% for con in con.get_children %}
        {% if con.requirement.level == 1 %}
            {% include 'conformity/conformity_detail_list_item.html' with con=con style="primary" %}
        {% elif con.requirement.level == 2 %}
            {% include 'conformity/conformity_detail_list_item.html' with con=con style="info" %}
        {% else %}
            {% include 'conformity/conformity_detail_list_item.html' with con=con style="secondary" %}
        {% endif %}
{% endfor %}
