{% extends "conformity/main.html" %}
{% load ui_tags %}

{% block header %}
<h1 class="h1 bi bi-shield-shaded" xmlns="">
        {{ conformity_list.0.organization }} conformity to {{ conformity_list.0.requirement.framework }}:
    </h1>
{% endblock %}

{% block content %}
{% route_url 'conformity:conformity_index' as list_url %}
{% breadcrumb "Conformities" list_url conformity_list.0.organization.name %}

<h3>
    <div class="d-flex">
        <span class="badge rounded-pill bg-secondary me-4"> {{ conformity_list.0.get_leaf | length }} Requirements</span>
        <span class="badge rounded-pill bg-secondary me-4"> Completeness: {{ conformity_list.0.get_completeness }} % </span>
        <span class="badge rounded-pill bg-secondary me-4"> Conformity: {{ conformity_list.0.status }} %</span>

        <div class="btn-group ms-auto">
            <a type="button" class="btn btn btn-secondary bi bi-file-earmark-arrow-down-fill"
               href="{% url 'conformity:conformity_export' conformity_list.0.organization.id conformity_list.0.requirement.framework.id %}">
                 Export</a>
            <a type="button" class="btn btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </a>
            <ul class="dropdown-menu" style="z-index:1500">
                <li><a class="dropdown-item" href="{% url 'conformity:conformity_export' conformity_list.0.organization.id conformity_list.0.requirement.framework.id %}?format=csv">CSV Format</a></li>
                <li><a class="dropdown-item" href="{% url 'conformity:conformity_export' conformity_list.0.organization.id conformity_list.0.requirement.framework.id %}?format=xlsx">XLSX Format</a></li>
            </ul>
        </div>
    </div>
</h3>
<table class="table align-middle">
  <caption class="d-none">List and status of framework requirements for the organisation.</caption>
    <thead class="sticky-top bg-white lh-lg">
        <tr>
            <th class="text-start col">Requirement</th>
            <th class="text-center col-2">Status</th>
            <th class="text-center col-1">Owner</th>
            <th class="text-center col-1">Control</th>
            <th class="text-center col-1">Action</th>
            <th class="text-center col-1">Comment</th>
            <th class="text-center col-1">Edit</th>
        </tr>
    </thead>
    <tbody>
    {% for con in conformity_list.0.get_children %}
        {% include 'conformity/conformity_detail_list_item.html' with con=con style="primary" %}
    {% empty %}
        <div class="alert alert-info" role="alert">
            No conformity review for this organization and this framework.
        </div>
        <tr><td colspan="8">No data to display</td></tr>
    {% endfor %}
</table>
{% endblock %}
