{% extends "conformity/main.html" %}
{% load django_bootstrap5 %}
{% load mptt_tags %}

{% block header %}
<h1 class="h1 bi bi-shield-shaded" >
    Conformity for {{ conformity.requirement.name }} in {{ conformity.organization.name }}
</h1>
{% endblock %}

{% block content %}
    <form class="form" method="post" action="">
        {% csrf_token %}

        <div class="card border-info">
            <div class="card-header border-info text-bg-info text-secondary h4">
                <h6 class="card-subtitle text-body-secondary">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            {% for item in conformity.requirement.get_ancestors %}
                                <li class="breadcrumb-item"> {{ item.title }} </li>
                            {% endfor %}
                        </ol>
                    </nav>
                </h6>
            </div>
            <div class="card-header border-info text-bg-info h4">
                <h4 class="card-title">
                    <span class="badge rounded-pill text-bg-primary" >{{ conformity.requirement.name }}</span>
                    {{ conformity.requirement.title }}
                </h4>
            </div>
            <div class="card-body bg-info bg-opacity-25">
                <p class="card-text">{{ conformity.requirement.description }}</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col">
                <div class="form-check form-switch my-3">
                    <label class="form-check-label" for="id_applicable">Requirement is applicable</label>
                    <input class="form-check-input" type="checkbox" role="switch" id="id_applicable" name="applicable"
                        {% if conformity.applicable %}
                           checked aria-checked="true"
                        {% else %}
                           aria-checked="false"
                        {% endif %}
                    >
                </div>
                {% bootstrap_field form.responsible %}
                {% bootstrap_field form.status %}
                {% bootstrap_field form.comment %}
                <div class="text-center">
                    {% bootstrap_button button_type="submit" name="action" value="save" content="Save" extra_classes="col-2 mx-2" %}
                    {% if conformity.requirement.get_next_sibling and conformity.requirement.is_leaf_node %}
                        {% bootstrap_button button_type="submit" name="action" value="save_next" content="Save & Next" extra_classes="col-2 mx-2" %}
                    {% else %}
                        {% bootstrap_button button_type="submit" name="action" value="save_next" content="Save & Next" disabled="true" extra_classes="col-2 mx-2" %}
                    {% endif %}
                </div>

            </div>

            <div class="col col-6">


                <br />

                <div class="card ">
                    <div class="card-header text-center h4">
                        Associated action
                    </div>
                    <div class="list-group">
                    {% for action in conformity.get_action %}
                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-start" href="{% url 'conformity:action_form' action.id %}">
                            {{action}} <span class="badge bg-primary rounded-pill"> {{ action.get_status_display }} </span>
                        </a>
                    {% empty %}
                        <p class="list-group-item list-group-item-warning text-center my-0">No action associated</p>
                    {% endfor %}
                        <a class="list-group-item list-group-item-action list-group-item-success text-center text-success"  href="{% url 'conformity:action_create' %}">
                            <i class="bi bi-plus-circle"></i> Register a corrective action
                        </a>
                    </div>
                </div>

                <br />

                <div class="card ">
                    <div class="card-header text-center h4">
                        Associated control
                    </div>
                    <div class="list-group">
                    {% for control in conformity.get_control %}
                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-start"
                           href="{% url 'conformity:control_form' control.id %}">
                           {{control}}
                        </a>
                    {% empty %}
                        <p class="list-group-item list-group-item-warning text-center my-0">No action control</p>
                    {% endfor %}
                        <a class="list-group-item list-group-item-action list-group-item-success text-center text-success"  href="{% url 'conformity:control_create' %}">
                            <i class="bi bi-plus-circle"></i> Register a nex control
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <script>
            function applicable() {
                if ( ! document.getElementById('id_applicable').checked ){
                    document.getElementById('id_responsible').disabled = true;
                    document.getElementById('id_status').disabled = true;
                    document.getElementById('id_status').required = false;
                    document.getElementById('id_comment').required = true;
                } else {
                    document.getElementById('id_responsible').disabled = false;
                    document.getElementById('id_status').disabled = false;
                    document.getElementById('id_status').required = true;
                    document.getElementById('id_comment').required = false;
                }
            }
            document.getElementById('id_applicable').addEventListener("click", applicable);
            applicable();
        </script>
    </form>
{% endblock %}
