{% extends "conformity/main.html" %}

{% block header %}
    <h1 class="h1 bi bi-shield-shaded">
        {{ conformity_list.0.organization }} conformity to {{ conformity_list.0.measure.policy }}:
        <span class="badge rounded-pill bg-primary ms-3"> Conformity: {{ conformity_list.0.status }} %</span>
    </h1>
{% endblock %}

{% block content %}
<table class="table align-middle">
  <caption class="d-none">List and status if the security controls</caption>
    <thead>
        <tr>
            <th scope="col" class="">Measure</th>
            <th scope="col" class="text-center">Status</th>
            <th scope="col" class="text-center">Owner</th>
            <th scope="col" class="text-center">Actions</th>
            <th scope="col" class="text-center">Comment</th>
            <th scope="col" class="text-center">Edit</th>
        </tr>
    </thead>
    <tbody>
    {% for con in conformity_list.0.get_children %}
        <tr class="table-primary">
            <th scope="col" class="col">{{ con.measure.title }}</th>
            <td class="col-3 text-center">
                <div class="progress">
                    {% if not con.applicable %}
                        <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 100%" aria-valuenow="Not applicable" aria-valuemin="0" aria-valuemax="100">Not applicable</div>
                    {% else %}
                        {% if con.status is 100 %}
                            <div class="progress-bar bg-success" role="progressbar" style="width: {{ con.status }}%" aria-valuenow="{{ con.status }}" aria-valuemin="0" aria-valuemax="100">{{ con.status }}%</div>
                        {% else %}
                            <div class="progress-bar" role="progressbar" style="width: {{ con.status }}%" aria-valuenow="{{ con.status }}" aria-valuemin="0" aria-valuemax="100">{{ con.status }}%</div>
                        {% endif %}
                    {% endif %}
                </div>
            </td>
            <td class="col-1 text-center">
                {% if con.applicable %}
                    {{ con.responsible|capfirst }}
                {% endif %}
            </td>
            <td class="col-1 text-center">
                {% if con.get_action %}
                    <a href="{% url 'conformity:action_con_index' con.id %}"
                    <button type="button" class="btn btn-outline-primary btn-sm">{{ con.get_action | length }}</button>
                    </a>
                {% endif %}
            </td>
            <td class="col-1 text-center">
                {% if con.comment %}
                    <i class="bi bi-chat-text"></i>
                {% endif %}
            </td>
            <td class="col-1 text-center"> <a href="{% url 'conformity:conformity_form' con.id %}"> <i class="bi bi-pencil-square"></i> </a> </td>
        </tr>
        {% for con in con.get_children %}
            <tr>
                <th scope="col">
                    <span class="ps-2 bi bi-arrow-return-right">{{ con.measure.title }}</span>
                </th>
                <td class="text-center">
                    <div class="progress">
                        {% if not con.applicable %}
                            <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 100%" aria-valuenow="Not applicable" aria-valuemin="0" aria-valuemax="100">Not applicable</div>
                        {% else %}
                            {% if con.status is 100 %}
                                <div class="progress-bar bg-success" role="progressbar" style="width: {{ con.status }}%" aria-valuenow="{{ con.status }}" aria-valuemin="0" aria-valuemax="100">{{ con.status }}%</div>
                            {% else %}
                                <div class="progress-bar" role="progressbar" style="width: {{ con.status }}%" aria-valuenow="{{ con.status }}" aria-valuemin="0" aria-valuemax="100">{{ con.status }}%</div>
                            {% endif %}
                        {% endif %}
                    </div>
                </td>
                <td class="text-center">
                    {% if con.applicable %}
                        {{ con.responsible|capfirst }}
                    {% endif %}
                </td>
                <td class="col-1 text-center">
                    {% if con.get_action %}
                        <button type="button" class="btn btn-outline-primary btn-sm">{{ con.get_action | length }}</button>
                    {% endif %}
                </td>
                <td class="col-1 text-center">
                    {% if con.comment %}
                    <i class="bi bi-chat-text"></i>
                    {% endif %}
                </td>
                <td class="text-center">
                    <a href="{% url 'conformity:conformity_form' con.id %}"> <i class="bi bi-pencil-square"></i> </a>
                </td>
            </tr>
                {% for con in con.get_children %}
                    <tr>
                        <th scope="col">
                            <span class="ps-4 bi bi-arrow-return-right">{{ con.measure.title }}</span>
                        </th>
                        <td class="text-center">
                            <div class="progress">
                                {% if not con.applicable %}
                                    <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 100%" aria-valuenow="Not applicable" aria-valuemin="0" aria-valuemax="100">Not applicable</div>
                                {% else %}
                                    {% if con.status is 100 %}
                                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ con.status }}%" aria-valuenow="{{ con.status }}" aria-valuemin="0" aria-valuemax="100">{{ con.status }}%</div>
                                    {% else %}
                                        <div class="progress-bar" role="progressbar" style="width: {{ con.status }}%" aria-valuenow="{{ con.status }}" aria-valuemin="0" aria-valuemax="100">{{ con.status }}%</div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </td>
                        <td class="text-center">
                            {% if con.applicable %}
                                {{ con.responsible|capfirst }}
                            {% endif %}
                        </td>
                        <td class="col-1 text-center">
                            {% if con.get_action %}
                                <button type="button" class="btn btn-outline-primary btn-sm">{{ con.get_action | length }}</button>
                            {% endif %}
                        </td>
                        <td class="col-1 text-center">
                            {% if con.comment %}
                            <i class="bi bi-chat-text"></i>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{% url 'conformity:conformity_form' con.id %}"> <i class="bi bi-pencil-square"></i> </a>
                        </td>
                    </tr>
                {% endfor %}
        {% endfor %}
    {% empty %}
        <div class="alert alert-info" role="alert">
            No conformity review for this organization and this policy.
        </div>
        <tr><td colspan="4">No data to display</td></tr>
    {% endfor %}
</table>
{% endblock %}
