{% extends "conformity/main.html" %}

{% block header %}
    <h1 class="h1 bi bi-shield-shaded"> Conformities</h1>
{% endblock %}

{% block content %}
<table class="table table-striped align-middle">
  <caption class="d-none">Overview of the organizations conformity to there Frameworks</caption>
    <thead>
        <tr>
            <th scope="col" class="">Organization</th>
            <th scope="col" class="">Framework</th>
            <th scope="col" class="text-center">Status</th>
        </tr>
    </thead>
    <tbody>
    {% for con in conformity_list %}
        <tr>
            <th scope="col" class="col-2">
                {{ con.organization }}
            </th>
            <th scope="col" class="col-2">
                {{ con.measure.policy.name }}
            </th>
            <td class="col text-center">
                <a href="{% url 'conformity:conformity_orgpol_index' con.organization.id con.measure.policy.id %}">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ con.status }}%" aria-valuenow="{{ con.status }}" aria-valuemin="0" aria-valuemax="100">{{ con.status }}%</div>
                    </div>
                </a>
            </td>
        </tr>
    {% empty %}
        <div class="alert alert-info" role="alert">
            No conformity review available.
        </div>
        <tr><td colspan="4">No data to display</td></tr>
    {% endfor %}
</table>
{% endblock %}
