{% extends "conformity/main.html" %}

{% block header %}
    <h1 class="h1 bi bi-shield-shaded"> Conformities</h1>
    <span class="badge rounded-pill text-bg-primary fs-4"> {{ object_list | length }} Conformities evaluations</span>
{% endblock %}

{% block content %}
<table class="table table-striped align-middle">
  <caption class="d-none">Overview of the organizations conformity to there Frameworks</caption>
    <thead>
        <tr>
            <th class="">Framework</th>
            <th class="">Organization</th>
            <th class="text-center">Requirement</th>
            <th class="text-center">Completeness</th>
            <th class="text-center">Conformity</th>
            <th class="text-center">Edit</th>
        </tr>
    </thead>
    <tbody>
    {% for con in conformity_list %}
        <tr>
            <td class="col-2">
                {{ con.requirement.framework.name }}
            </td>
            <td class="col-2">
                {{ con.organization }}
            </td>
            <td class="col-1 text-center">
                {{ con.get_leaf | length }}
            </td>
            <td class="col-1 text-center">
                {{ con.get_completeness }} %
            </td>
            <td class="col text-center">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ con.status }}%" aria-valuenow="{{ con.status }}" aria-valuemin="0" aria-valuemax="100">{{ con.status }}%</div>
                </div>
            </td>
            <td class="col-1 text-center">
                <a href="{% url 'conformity:conformity_detail_index' con.organization.id con.requirement.framework.id %}"
                   class="bi bi-pencil-square" title="Edit"></a>
            </td>
        </tr>
    {% empty %}
        <div class="alert alert-info" role="alert">
            No conformity review available.
        </div>
        <tr><td colspan="4">No data to display</td></tr>
    {% endfor %}
</table>
{% endblock %}
