{% extends "conformity/main.html" %}

{% block header %}
    <h1 class="h1 bi bi-shield-shaded">
        {{ conformity_list.0.organization }} conformity to {{ conformity_list.0.requirement.framework }}:
        <span class="badge rounded-pill bg-primary ms-3"> Conformity: {{ conformity_list.0.status }} %</span>
    </h1>
{% endblock %}

{% block content %}
<table class="table align-middle">
  <caption class="d-none">List and status of framework requirements for the organisation.</caption>
    <thead>
        <tr>
            <th scope="col" class="text-start col">Requirement</th>
            <th scope="col" class="text-center col-2">Status</th>
            <th scope="col" class="text-center col-1">Owner</th>
            <th scope="col" class="text-center col-1">Control</th>
            <th scope="col" class="text-center col-1">Action</th>
            <th scope="col" class="text-center col-1">Comment</th>
            <th scope="col" class="text-center col-1">Edit</th>
        </tr>
    </thead>
    <tbody>
    {% for con in conformity_list.0.get_children %}
        {% include 'conformity/conformity_detail_list_item.html' with con=con style="primary" %}
    {% empty %}
        <div class="alert alert-info" role="alert">
            No conformity review for this organization and this framework.
        </div>
        <tr><td colspan="8">No data to display</td></tr>
    {% endfor %}
</table>
{% endblock %}
