{% extends "conformity/main.html" %}
{% load render_table from django_tables2 %}

{% block header %}
    <h1 class="h1 bi bi-clipboard2-check position-relative col-7">
        Control Point
    </h1>
{% endblock %}

{% block content %}
<div class="row">
    {% if filter.form.data.control %}
        <div class="col col-4">

            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Control</h2>
                    <h3 class="card-subtitle text-body-secondary">{{ controlpoint_list.0.control.title }}</h3>
                </div>
                <div class="card-body">

                    <p> {{ controlpoint_list.0.control.description | linebreaksbr  }} </p>

                    <ul>
                        <li><b>Level:</b> {{ controlpoint_list.0.control.get_level_display }}</li>
                        <li><b>Frequency:</b> {{ controlpoint_list.0.control.get_frequency_display }}</li>
                        <li><b>Organization:</b> {{ controlpoint_list.0.control.organization }}</li>
                    </ul>

                    <b>Associated conformity:</b>
                    <ul>
                        {% for conformity in controlpoint_list.0.control.conformity.all %}
                            <li>{{ conformity.requirement.full_path }}: {{ conformity.requirement.title }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="col">
        {% if filter.form.data.control %}
        <h2>Control Point List</h2>
        {% else %}
            {% include "includes/filter_row.html" %}
        {% endif %}

        {% render_table table %}
    </div>
  </div>
</div>
<div class="row mt-4">
    <div class="col text-center">
                    <a href="{% url 'conformity:control_index' %}"
                       class="btn btn-secondary bi bi-caret-left-square">
                        Return to control list
                    </a>
    </div>
</div>
{% endblock %}
