{% extends "conformity/main.html" %}
{% load django_bootstrap5 %}
{% load ui_tags %}

{% block header %}
<h1 class="h1 bi bi-pencil-square" > Edit of a control</h1>
{% endblock %}

{% block content %}
{% route_url 'conformity:control_index' as list_url %}
{% if object %}{% route_url 'conformity:control_detail' object.pk as detail_url %}{% breadcrumb "Controls" list_url object.title detail_url "Edit" %}{% else %}{% breadcrumb "Controls" list_url "Create" %}{% endif %}

    <form class="form" method="post" action="">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col col-6">
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content="Save" %}
            </div>
        </div>
    </form>
{% endblock %}
