{% extends "conformity/main.html" %}
{% load django_bootstrap5 %}

{% block header %}
<h1 class="h1 bi bi-pencil-square" > Edit of a control point</h1>
{% endblock %}

{% block content %}
    <form class="form" method="post" action="">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col col-6">
                <h2>{{ controlpoint.control.title }}</h2>
                <p>{{ controlpoint.control.description }}</p>
                <ul>
                <li>Organization: {{ controlpoint.control.organization }}</li>
                <li>Control frequency: {{ controlpoint.control.get_frequency_display }}</li>
                <li>Control period: From {{controlpoint.period_start_date}} to {{controlpoint.period_end_date}}</li>
                </ul>
                <hr />
                {% bootstrap_form form %}

                <h2 class="h4">Associated actions</h2>
                <div class="col list-group mb-3">
                    {% for action in controlpoint.get_action %}
                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-start" href="{% url 'conformity:action_form' action.id %}">
                            {{action}} <span class="badge bg-primary rounded-pill"> {{ action.get_status_display }} </span>
                        </a>
                    {% empty %}
                        <p class="list-group-item list-group-item-warning text-center my-0">No action associated</p>
                    {% endfor %}
                        <a class="list-group-item list-group-item-action list-group-item-success text-center text-success"  href="{% url 'conformity:action_create' %}">
                            <i class="bi bi-plus-circle"></i> Register a corrective action
                        </a>
                </div>
                <br />
                <br />
                {% bootstrap_button button_type="submit" content="Save" %}
            </div>
        </div>
    </form>
{% endblock %}
