{% extends "conformity/main.html" %}

{% block header %}
    <h1 class="h1 bi bi-exclamation-diamond"> Active findings </h1>
    <span class="badge rounded-pill text-bg-primary fs-4"> {{ object_list | length }} Findings</span>
{% endblock %}

{% block content %}
<p class="alert alert-info" role="alert">
    <i class="bi bi-info-circle"> </i> &nbsp
    Only active findings from level
    <span class="badge rounded-pill bg-dark">Critical</span>,
    <span class="badge rounded-pill bg-danger">Major</span>,
    <span class="badge rounded-pill bg-warning">Minor</span> and
    <span class="badge rounded-pill bg-info">Opportunity</span> for improvement are listed for follow-up.
    Other findings like
    <i class="bi bi-archive"></i> Archived findings,
    <span class="badge rounded-pill bg-secondary">Remark</span> and
    <span class="badge rounded-pill bg-success">Positive</span> findings are not displayed.
</p>

<table class="table table-striped align-middle">
  <caption class="d-none">List of Critical, Major, Minor finding and Opportunity for improvement.</caption>
    <thead>
        <tr>
            <th class="text-center">Finding</th>
            <th class="">Description</th>
            <th class="text-center">CVSS</th>
            <th class="text-center">Audit campaign</th>
            <th class="text-center">Associated actions</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
    {% for finding in finding_list %}
        <tr>
            <td class="col-2 text-center">
                {{ finding.name | default:"Unnamed finding" }}
            </td>
            <td class="col">
                {{ finding.short_description }}
            </td>
            <td class="col-1 text-center">
                {% if finding.severity == "CRT" %}
                    <span class="badge rounded-pill w-75 text-bg-dark">
                {% endif %}
                {% if finding.severity == "MAJ" %}
                    <span class="badge rounded-pill w-75 text-bg-danger">
                {% endif %}
                {% if finding.severity == "MIN" %}
                    <span class="badge rounded-pill w-75 text-bg-warning">
                {% endif %}
                {% if finding.severity == "OBS" %}
                    <span class="badge rounded-pill w-75 text-bg-info">
                {% endif %}
                {% if finding.severity == "OTHER" %}
                    <span class="badge rounded-pill w-75 text-bg-secondary">
                {% endif %}
                {% if finding.severity == "POS" %}
                    <span class="badge rounded-pill w-75 text-bg-success">
                {% endif %}
                {{ finding.cvss | default:'-'}}
                </span>
            </td>
            <td class="col text-center">
                <a href="{% url 'conformity:audit_detail' finding.audit.id %}">
                    <button type="button" class="btn btn-outline-primary btn-sm w-75">
                        {{ finding.audit }}
                    </button>
                </a>
            </td>
            <td class="col text-center">
                {% if finding.get_action %}
                    <a href="{% url 'conformity:action_index' %}?associated_findings__id={{finding.id}}">
                        <button type="button" class="btn btn-outline-primary btn-sm">
                            {{ finding.get_action | length}} associated actions
                        </button>
                    </a>
                {% endif %}
            </td>
            <td class="col text-center">
                <div class="btn-group" role="group" aria-label="actions">
                    <a href="{% url 'conformity:finding_detail' finding.id %}"
                       class="btn btn-sm btn-primary bi bi-eye" title="View"></a>
                    <a href="{% url 'conformity:finding_form' finding.id %}"
                       class="btn btn-sm btn-warning bi bi-pencil-square" title="Edit"></a>
                </div>
            </td>
        </tr>
    {% empty %}
        <div class="alert alert-info" role="alert">
            No finding recorded.
        </div>
        <tr><td colspan="6">No data to display</td></tr>
    {% endfor %}
</table>
{% endblock %}
