{% extends "conformity/main.html" %}

{% block header %}
    <h1 class="h2 bi bi-exclamation-diamond">
        Finding "{{ finding.short_description }}"
        {% if finding.severity == "CRT" %}
            <span class="badge rounded-pill bg-dark">Critical ({{ finding.cvss }})</span>
        {% endif %}
        {% if finding.severity == "MAJ" %}
            <span class="badge rounded-pill bg-danger">Major ({{ finding.cvss }})</span>
        {% endif %}
        {% if finding.severity == "MIN" %}
            <span class="badge rounded-pill bg-warning">Minor ({{ finding.cvss }})</span>
        {% endif %}
        {% if finding.severity == "OBS" %}
            <span class="badge rounded-pill bg-info">Opportunity ({{ finding.cvss }})</span>
        {% endif %}
        {% if finding.severity == "OTHER" %}
            <span class="badge rounded-pill bg-secondary">Remark ({{ finding.cvss }})</span>
        {% endif %}
        {% if finding.severity == "POS" %}
            <span class="badge rounded-pill bg-success">Positive ({{ finding.cvss }})</span>
        {% endif %}

    </h1>
{% endblock %}

{% block content %}
    {% if finding.archived %}
    <p class="alert alert-dark" role="alert">
        <i class="bi bi-archive"></i> This finding is archived.
    </p>
    {% endif %}
    <p class="alert alert-info">
        <i class="bi bi-ui-checks-grid"></i> Audit of {{ audit.organization }} realised by {{ audit.auditor }} ({{ audit.get_type }}).
        <a class="text-info" href="{% url 'conformity:audit_detail' finding.audit_id %}"> See audit </a>
    </p>

    <h2>Description</h2>
    <p> {{ finding.description | default:"No detail provided"}} </p>

    <h2>Observation</h2>
    <p> {{ finding.observation | default:"No detail provided"}} </p>

    <h2>Scoring</h2>
    <p>
        CVSS Score: {{finding.cvss}}
        <br />
        CVSS Vector:
        {% if finding.cvss_descriptor %}
            <br />
            <a class="btn btn-outline-primary" href="https://www.first.org/cvss/calculator/#{{finding.cvss_descriptor}}" target="_blank" role="button">
                {{ finding.cvss_descriptor }}
                <i class="bi bi-box-arrow-up-right ms-2"></i>
            </a>
        {%endif%}
    </p>

    <h2>Recommendation</h2>
    <p> {{ finding.recommendation | default:"No detail provided"}} </p>

    <h2  class="pt-1">Associated action</h2>
    <div class="col-4 list-group mb-3">
        {% for action in finding.get_action %}
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-start" href="{% url 'conformity:action_form' action.id %}">
                {{action}} <span class="badge bg-primary rounded-pill"> {{ action.get_status_display }} </span>
            </a>
        {% empty %}
            <p class="list-group-item list-group-item-warning text-center my-0">No action associated</p>
        {% endfor %}
        {% if not finding.archived %}
            <a class="list-group-item list-group-item-action list-group-item-success text-center text-success"  href="{% url 'conformity:action_create' %}">
                <i class="bi bi-plus-circle"></i> Register a corrective action
            </a>
        {% endif %}
    </div>

    {% if finding.reference %}
        <h2>External Reference</h2>
        <p> {{ finding.reference }} </p>
    {% endif %}

    {% if not finding.archived %}
        <a href="{% url 'conformity:finding_form' finding.id %}">
            <button type="button" class="my-3 btn btn-primary bi bi-pencil-square"> Edit the finding</button>
        </a>
    {% endif %}
{% endblock %}
