{% extends "conformity/main.html" %}

{% block header %}
<h1 class="h2 bi bi-card-checklist"> Framework: {{ framework.name }}</h1>
<h4>
    <span class="badge text-bg-secondary"> Version : {{ framework.version | default:'-' }} </span>
    <span class="badge text-bg-secondary"> Language : {{ framework.get_language_display | default:'-' }} </span>
    <span class="badge text-bg-secondary"> Published by : {{ framework.publish_by | default:'-' }} </span>
    <span class="badge text-bg-secondary"> Type : {{ framework.get_type | default:'-' }} </span>
</h4>
{% endblock %}

{% block content %}
    {% for requirement in framework.get_requirements %}
            {% if requirement.level == 1 %}
                <h2><button class="btn btn-sm rounded-pill border border-0 text-bg-primary" disabled>{{ requirement.name }}</button> {{ requirement.title }}</h2>
                <p class="ms-1">{{ requirement.description  | linebreaksbr }}</p>
            {% elif requirement.level == 2 %}
                <h3 class="ms-1"><button class="btn btn-sm rounded-pill border border-0 text-bg-info" disabled>{{ requirement.name }}</button> {{ requirement.title }}</h3>
                <p class="ms-2">{{ requirement.description  | linebreaksbr }}</p>
            {% else %}
                <h4 class="ms-4"><button class="btn btn-sm rounded-pill border border-0 text-bg-secondary" disabled>{{ requirement.name }}</button> {{ requirement.title }}</h4>
                <p class="ms-5">{{ requirement.description  | linebreaksbr }}</p>
            {% endif %}

    {% empty %}
        <div class="alert alert-info" role="alert">
          No requirement defined for this framework.
        </div>
    {% endfor %}

    <br />

    <div class="alert alert-info">
        <h3 class="h3 bi bi-paperclip" id="attachments"> Attachments </h3>
        <ul>
            {% for attachment in framework.attachment.all %}
            <li><a href="{% url 'conformity:attachment_download' attachment.id %}"> {{ attachment }} </a></li>
            {% empty %}
            <i>No attachment</i>
            {% endfor %}
        </ul>
    </div>

{% endblock %}