{% extends "conformity/main.html" %}

{% block header %}
<h1 class="h2 bi bi-card-checklist"> Framework: {{ framework.name }} {% if framework.version %} <sup>{{ framework.version }}</sup> {% endif %}</h1>
{% endblock %}

{% block content %}
    {% if framework.get_root_requirement %}
        {% for m in framework.get_first_requirements %}
            <h3 class="text-primary position-relative">
                {{ m.title }}
            </h3>
            <div class="ms-1 ps-3 border-start border-primary">
                <p>{{ m.description|safe }}</p>
                {% if m.get_children %}
                    {% for m in m.get_children %}
                        <h4 class="text-secondary position-relative">
                            {{ m.title }}
                        </h4>
                        <div class="ms-1 ps-3 border-start border-secondary">
                            <p>{{ m.description|safe }}</p>
                            {% if m.get_children %}
                                {% if m.get_children %}
                                        {% for m in m.get_children %}
                                            <h5 class="text-info position-relative">
                                                {{ m.title }}
                                            </h5>
                                            <div class="ms-1 ps-3 border-start border-info">
                                                <p>{{ m.description|safe }}</p>
                                                {% if m.get_children %}
                                                    {% for m in m.get_children %}
                                                        <h5 class="text-info">
                                                            {{ m.title }}
                                                        </h5>
                                                        <div class="ms-1 ps-3 border-start border-secondary">
                                                            <p>{{ m.description|safe }}</p>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info" role="alert">
          No requirement defined for this framework.
        </div>
    {% endif %}

    <br />

    <div class="alert alert-info">
        <h3 class="h3 bi bi-paperclip" id="attachments"> Attachments </h3>
        <ul>
            {% for attachment in framework.attachment.all %}
            <li><a href="{% url 'conformity:attachment_download' attachment.id %}"> {{ attachment }} </a></li>
            {% empty %}
            <i>No attachment</i>
            {% endfor %}
        </ul>
    </div>


{% endblock %}
