{% extends "conformity/main.html" %}
{% load ui_tags %}
{% load django_bootstrap5 %}

{% block header %}
<h1 class="h1 bi bi-pencil-square" > Edit of a indicator point</h1>
{% endblock %}

{% block content %}
{% route_url 'conformity:indicator_index' as indicators_url %}
{% route_url 'conformity:indicator_detail' indicatorpoint.indicator.pk as indicator_url %}
{% breadcrumb "Indicators" indicators_url indicatorpoint.indicator.name indicator_url "Measurement" %}

    <form class="form" method="post" action="">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col col-6">
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content="Save" %}
            </div>
        </div>
    </form>
{% endblock %}
