{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Oxomium{% endblock %}</title>
        <link rel="icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'conformity/bootstrap-icons-1.8.3/bootstrap-icons.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'conformity/bootstrap-5.1.3-dist/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'conformity/main.css' %}" />
        <script integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" src="{% static 'conformity/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js' %}"></script>
    </head>
    <body>
        <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">
                <i class="bi bi-hexagon-fill text-danger"></i>
                <i class="bi bi-hexagon-fill text-warning"></i>
                <i class="bi bi-hexagon-fill text-success"></i>
                <span class="ms-2" style="letter-spacing: 3px;font-variant:small-caps;"> Oxomium </span>
            </a>
            <div class="dropdown mx-2">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle"></i>
                    {{request.user.username}}
                </button>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                    <li><span class="dropdown-item disabled text-primary"><i class="bi bi-person-fill"> {{request.user.first_name}} {{request.user.last_name}} </i> </span></li>
                    <li><span class="dropdown-item disabled text-primary"><i class="bi bi-envelope-fill"> {{request.user.email}}</i> </span></li>
                    <li><hr class="dropdown-divider text-primary"></li>
                    <li><a class="dropdown-item" href="/admin/"><i class="bi bi-gear-fill"></i> Django backend</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                </ul>
            </div>
            <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </header>
        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="position-sticky pt-3">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'conformity:home' %}">
                                    <span class="bi bi-house-door"></span>
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'conformity:policy_index' %}">
                                    <span class="bi bi-card-checklist"></span>
                                    Policy
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'conformity:organization_index'  %}">
                                    <span class="bi bi-building"></span>
                                    Organization
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'conformity:conformity_index' %}">
                                    <span class="bi bi-shield-shaded"></span>
                                    Conformity
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'conformity:audit_index' %}">
                                    <span class="bi bi-ui-checks-grid"></span>
                                    Audit
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        {% block header %} Page Title {% endblock %}
                    </div>

                    <div>
                        {% bootstrap_messages %}

                        {% block content %}
                        {% endblock %}
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
