{% extends "conformity/main.html" %}

{% block header %}
    <h1 class="h1 bi bi-building"> Organizations</h1>
{% endblock %}

{% block content %}
    <table class="table table-striped align-middle">
    <thead>
        <tr>
            <th scope="col" class="col-1">Organization</th>
            <th scope="col" class="col ">Description</th>
            <th scope="col" class="col-4 text-center">Applicable policies</th>
            <th scope="col" class="col-1 text-center">Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for org in organization_list %}
            <tr>
                <td>
                    {{ org.name }}
                </td>
                <td>
                    <p>{{ org.description }}</p>
                    <p>{{ org.administrative_id }}</p>
                </td>
                <td class="text-center">
                    {% for item in org.get_policies %}
                        <a href="{% url 'conformity:conformity_orgpol_index' org.id item.id %}">
                           <div class="btn btn-primary my-1" style="width:15em;">
                            {{ item }}
                           </div>
                        </a>
                        <br />
                    {% endfor %}
                </td>
                <td class="text-center">
                    <a href="{% url 'conformity:organization_form' org.id %}" class="bi bi-pencil-square"></a>
                </td>
            </tr>
        {% empty %}
            <div class="alert alert-info" role="alert">
                No organization defined.
            </div>
        {% endfor %}
            <tr><td colspan="4" class="text-center">
            <br />
            <a href="{% url 'conformity:organization_create' %}">
                <button type="button" class="btn btn-success bi bi-plus-circle"> Register a new organization</button>
            </a>
            </td></tr>
    </tbody>
    </table>
{% endblock %}
