{% extends "conformity/main.html" %}

{% block header %}
    <h1 class="h1 bi bi-card-checklist"> Policies</h1>
{% endblock %}

{% block content %}
    {% if policy_list %}
        <table class="table table-striped align-middle">
            <caption class="d-none">List of the policies</caption>
            <thead class="">
                <tr>
                    <th scope="col">Policy</th>
                    <th scope="col">Published by</th>
                    <th scope="col">Policy type</th>
                    <th scope="col" class="text-center">Measures</th>
                </tr>
            </thead>
            <tbody>
        {% for policy in policy_list %}
            <tr>
                <td>{{ policy.name }} (v{{ pol.version }})</td>
                <td>{{ policy.publish_by }}</td>
                <td>{{ policy.get_type }}</td>
                <td class="text-center">
                    <a href="{% url 'conformity:policy_detail' policy.id %}">
                        <button type="button" class="btn btn-primary btn-sm">{{ policy.get_measures_number }} Measures</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info" role="alert">
          No policy defined.
        </div>
    {% endif %}
{% endblock %}
