{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Oxomium - Log in</title>
        <link rel="icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'conformity/bootstrap-icons-1.8.3/bootstrap-icons.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'conformity/bootstrap-5.1.3-dist/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'registration/login.css' %}" />
    </head>
    <body  class="text-center">
        <form class="form-signin" method="post" action="{% url 'login' %}">
            <h1 class="h1 mb-4" style="letter-spacing: 2px; font-variant:small-caps;">
                Oxomium <br />
                <i class="bi bi-hexagon-fill text-danger animated fadeIn1"></i>
                <i class="bi bi-hexagon-fill text-warning animated fadeIn2"></i>
                <i class="bi bi-hexagon-fill text-success animated fadeIn3"></i>
            </h1>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="d-grid gap-2">
                <label for="id_username" class="visually-hidden">Username:</label>
                <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" class="form-control" placeholder="Username"/>
                <label for="id_password" class="visually-hidden">Password:</label>
                <input type="password" name="password" autocomplete="current-password" required id="id_password" class="form-control" placeholder="Password"/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
            </div>
        </form>
    </body>
</html>
